@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

/* Modal Styles */
.ReactModal__Overlay {
  background-color: rgba(84, 84, 84, 0.3) !important;
}

.ReactModal__Content {
  border-radius: 8px !important;
  inset: initial !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: rgba(44, 44, 44) !important;
  border: none !important;
  outline: none !important;
}